{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="col-sm-12">


<div class="card border-0">
<!-- <div class="card-header">
      <h3 class="card-title">카드 타이틀</h3>
    </div> -->
    <div class="card-body">
    
    <form id="ingredient_filed" action = "http://localhost:5000/result" method = "POST" onsubmit="return checkForm()">
      <button type="submit" class="btn btn-default">계산</button>
      <p class="text-center" id="expected">계산을 눌러주세요</p>
    </form>

        <div class="btn-group btn-block">
          <button id="plusrowbtn" class="btn btn-success btn-block" type="button"  onclick="ingredient_filed();">작업추가</button>
        </div>
      </div>

    </div>
  </div>
      
    </div>
    

<script type="text/javascript" src="/static/js/brew.js"></script>

{% endblock %}