{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">쌀과 물의 양을 계산하고 결과물의 양을 계산</div>
    <div class="panel-heading"><small><span class="glyphicon glyphicon-plus gs"></span>를 눌러 작업을 추가, </small>
      <small><span class="glyphicon glyphicon-minus gs"></span>를 눌러 작업을 제거</small></div>
    <div class="panel-body">
    
    <form id="ingredient_filed" action = "http://localhost:5000/result" method = "POST" onsubmit="return checkForm()">
      <!-- <button type="submit" class="btn btn-default" onclick="calculateRW()">계산</button><p class="text-center" id="expected">계산을 눌러주세요</p> -->
      <button type="submit" class="btn btn-default">계산</button>
      <p class="text-center" id="expected">계산을 눌러주세요</p>
    </form>

        <div class="btn-group btn-block">
          <button id="plusrowbtn" class="btn btn-success btn-block" type="button"  onclick="ingredient_filed();">작업추가</button>
        </div>
      </div>

    <!-- <div class="panel-footer">
      <button class="btn btn-default" onclick="calculateRW()">계산</button><p class="text-center" id="expected">계산을 눌러주세요</p>
    </div> -->

    </div>

      
    </div>
    

<script type="text/javascript" src="/static/js/brew.js"></script>

{% endblock %}