{% block graph %} 
  <head>
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
  </head>
  <py-env>
    - matplotlib
  </py-env>
<div class="card-borderless text-center">
  <py-script>
    import matplotlib.pyplot as plt
    
    labels = 'rice', 'water', 'yeast', 
    sizes = [{{ total_rice }}, {{ total_water }}, {{ total_yeast }}, ]
    colors = ['bisque','lightskyblue','saddlebrown', ]
    
    fig1, ax1 = plt.subplots()
    ax1.pie(sizes, labels=labels, autopct='%.3f%%', colors=colors)
    ax1.axis('equal') 
    
    fig1
    </py-script>
</div>

{% endblock %}


