{% block graph %} 
  <head>
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
  </head>
  <py-env>
    - matplotlib
  </py-env>

<py-script>
import matplotlib.pyplot as plt

labels = 'tot rice', 'tot water'
sizes = [{{ total_rice }}, {{ total_water }}]

fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal') 

fig1
</py-script>

{% endblock %}
